:root {
    --width: 0;
    --height: 0; 
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#main-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 2%;
    height: 960px;
    width: 960px;
    background-color: lightgray;
}

.small-square {
    width: var(--width);
    height: var(--height);
    background-color: rgb(207, 149, 149);
}

.painted-small-square {
    width: var(--width);
    height: var(--height);
    background-color: black;
}