#main-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 1200px;
}

.small-square {
    display: flex;
    width: 6%;
    height: 40px;
    border: 0px;
}